<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
	<PropertyGroup>
		<WebPublishMethod>Package</WebPublishMethod>
		<LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
		<LastUsedPlatform>Any CPU</LastUsedPlatform>
		<SiteUrlToLaunchAfterPublish />
		<LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
		<ExcludeApp_Data>false</ExcludeApp_Data>
		<ProjectGuid>302348eb-bc3b-4ecd-b568-188c84745c13</ProjectGuid>
		<DesktopBuildPackageLocation>bin/Release/net8.0/publish/ISS/ManagementPortal.Client.ISS.zip</DesktopBuildPackageLocation>
		<PackageAsSingleFile>true</PackageAsSingleFile>
		<DeployIisAppPath>Management Portal</DeployIisAppPath>
		<_TargetId>IISWebDeployPackage</_TargetId>
	</PropertyGroup>
</Project>